[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book.git
